<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../javascripts/jquery-1.12.0.min.js"></script>
  </head>
  <body>
           <div id="fiture"></div>
            <h1>主页</h1>
           	<a id="login"  href="/logout" class="login">退出</a>
            <span class="registers"><%= name %></span>
            <p style="font-size:22px"><a href="/chat">聊天室</a></p>

  </body>
  <script>
      $(function() {

      })
  </script>
</html>
